/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Headings */
h1 {
    font-size: 24px;
    color: #000000;
}

/* Forms */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #1E1254;
    color: #fff;
    padding: 12px 24px; /* Increased padding */
    font-size: 18px; /* Increased font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2D1B7E;
}

/* Links */
a.button-link {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px; /* Increased padding */
    background-color: #1E1254;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a.button-link:hover {
    background-color: #1E1254;
}

/* Error Message */
.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

/* Stats Table (Compare_Result) */
.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.stats-table th, .stats-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
.stats-table th {
    background-color: #f2f2f2;
}
.stats-container {
    display: flex;
    justify-content: space-between;
}
.stats-column {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Player Image */
.player-image {
    order: -1; /* Moves the image to the top of the column */
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.player-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Dropdown Menu Styling */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

/* Logo Styling */
.center-logo {
    display: block;
    margin: 50px auto;
    width: 500px;
    height: auto;
}

.top-right-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100px;
    cursor: pointer;
}

/* Footer Styling */
footer {
    background-color: #1E1254;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 14px;

}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #ccc;
}
