<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Players</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Add our custom JavaScript -->
    <script src="/static/js/compare.js"></script>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="NBA Insights Logo" class="top-right-logo">
        </a>
        <h1>Compare Players</h1>
        <form action="/compare_players" method="POST">
            <div id="players-container">
                <div class="column">
                    <label for="player1_name">Enter Player 1 Name:</label>
                    <input type="text" id="player1_name" name="player1_name" placeholder="e.g., Stephen Curry" required>
                </div>
                <div class="column">
                    <label for="player2_name">Enter Player 2 Name:</label>
                    <input type="text" id="player2_name" name="player2_name" placeholder="e.g., Kevin Durant" required>
                </div>
            </div>
            <div class="button-group">
                <button type="button" id="addPlayerButton" onclick="addPlayerInput()">Add Another Player</button>
                <button type="submit">Compare</button>
            </div>
        </form>
    </div>
    <footer>
        <p>&copy; 2025 NBA Player Archetype Finder. <a href="https://github.com/Jaynik-S/NBA_Insights" target="_blank">GitHub</a></p>
    </footer>
</body>
</html>