{% extends "layout.html" %}

{% block title %}Compare Players{% endblock %}

{% set active_page = 'compare' %}

{% block content %}
<div class="container wow fadeIn" data-wow-delay="0.3s">
    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Compare Players</h1>
    <form action="/compare_players" method="POST" class="wow fadeInUp" data-wow-delay="0.5s">
        <div id="players-selection" class="wow fadeIn" data-wow-delay="0.6s" style="padding: 0px; margin-top: 0px;">
            <div class="column wow fadeInLeft" data-wow-delay="0.7s">
                <label for="player1_name">Enter Player 1 Name:</label>
                <input type="text" id="player1_name" name="player1_name" placeholder="e.g., Stephen Curry" required>
            </div>
            <div class="column wow fadeInRight" data-wow-delay="0.8s">
                <label for="player2_name">Enter Player 2 Name:</label>
                <input type="text" id="player2_name" name="player2_name" placeholder="e.g., Kevin Durant" required>
            </div>
        </div>
        <div class="button-group wow fadeInUp" data-wow-delay="0.9s" style="margin-top: -20px;">
            <button type="button" id="addPlayerButton" onclick="addPlayerInput()" class="wow pulse" data-wow-delay="1s">Add Another Player</button>
            <button type="submit" class="wow pulse" data-wow-delay="1.1s">Compare</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
{% endblock %}