{% extends "layout.html" %}

{% block title %}Select Program{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container wow fadeIn" data-wow-delay="0.3s">
    <a href="{{ url_for('home') }}"> 
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="NBA Insights Logo" class="center-logo wow fadeInDown" data-wow-delay="0.5s">
    </a>
    <form action="/select_program" method="POST" class="wow fadeIn" data-wow-delay="0.7s">
        <button type="submit" name="program" value="cluster" class="wow bounceIn" data-wow-delay="0.9s">Player Archetype Finder</button>
        <button type="submit" name="program" value="compare" class="wow bounceIn" data-wow-delay="1.1s">Player Comparison</button>
    </form>
</div>
{% endblock %}