<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Program</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="">
    
    <div class="container" style="">
        <a href="{{ url_for('home') }}"> 
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="NBA Insights Logo" class="center-logo">
        </a>
        <form action="/select_program" method="POST">
            <button type="submit" name="program" value="cluster">Player Archetype Finder</button>
            <button type="submit" name="program" value="compare">Compare Players</button>
        </form>
    </div>
    <footer>
        <p style="">By <a href="https://www.linkedin.com/in/jayniksheth" target="_blank" style="text-decoration: underline";>Jaynik</a> &copy; 2025.</p>
    </footer>
</body>
</html>